* {
    box-sizing: border-box;
}

.header,
.main,
.footer {
    border: 1px solid red;
    text-align: center;
    /* margin: 5px 5px;
    margin-block-start: 5px; */
}

ul {
    padding-left: 0px;
}

li {
    /* list-style-position: inside; */
    list-style-type: none;
    text-align: center;
}

.rsslogo {
    width: 120px;
    height: 45px;
}