* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f8eeee;
    text-align: center;
    font-family: 'system-ui', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main img {
    border: 1px solid rgb(215, 171, 252);
}

.header,
.footer {
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: linear-gradient(135deg, #5eeafc 10%, #ff068f 100%);
}

ul {
    padding-left: 0px;
}

.nav-list,
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item,
.footer-item {
    list-style-type: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 9, 9);
}

.nav-item a,
.footer-item {
    text-decoration: none;
}

.nav-item {
    margin: 5px 15px;
}

.footer-item {
    margin: 0px 15px;
}

.example {
    background: #ebe2e2f6;
    margin: 10px auto;
    padding: 10px 10px;
    width: 600px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}

.rsslogo {
    width: 120px;
    height: 45px;
}